{%  extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/signin.css') }}">
{% endblock %}

{% block body %}
	<div class="">
		{{ form(form) }}
		<a href="{{ path('todoListAll')}}" class="btn-warning btn">Back</a>
	</div>
{% endblock %}